<ion-view view-title="Happy">
  <ion-content>
    <h1>How happy are you now?</h1>
    <div>
    <button class="button button-large button-positive">1</button>
    <button class="button button-large button-positive">2</button>
    <button class="button button-large button-positive">3</button>
    </div><div>
    <button class="button button-large button-positive">4</button>
    <button class="button button-large button-positive">5</button>
    
    <button class="button button-large button-positive">6</button>
    </div><div>
    <button class="button button-large button-positive">7</button>
    <button class="button button-large button-positive">8</button>
    <button class="button button-large button-positive">9</button>
    </div><div>
    <button class="button button-large button-positive">10</button>
  </ion-content>
</ion-view>
